@tailwind base;

@layer base {
  h1,
  h2,
  h3 {
    font-family: 'Fruktur';
  }
  body {
    background-color: #fafff2;
    @apply font-sans;
  }

  .input-extra-style {
    background-color: #c9dcd7;
  }
  .button-extra-style {
    font-family: 'Fruktur';
  }
  .job-results-styled {
    background-color: #c9dcd7;
  }
}

@tailwind components;
@tailwind utilities;

[v-cloak] {
  display: none !important;
}
