<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reskilla Gorilla! | Get ready for 2030</title>
    <link rel="stylesheet" charset="utf-8" media="screen" type="text/css" href="../assets/styles.css" />
    <link
      rel="stylesheet"
      charset="utf-8"
      media="screen"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Fruktur:400"
    />
    <meta name="theme-color" content="#fff" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description" content="Reskilla Gorilla" />
  </head>

  <body>
    <div class="max-w-screen-lg mx-auto">
      <img
        src="../assets/images/hero.jpg"
        srcset="../assets/images/hero.jpg 1x, ../assets/images/hero@2x.jpg 2x"
        alt="Reskilla Gorilla"
        class="pt-5 mx-auto"
      />

      <h1 class="text-5xl mt-20 text-center">By 2030, 1 billion people will need to be reskilled</h1>

      <div class="grid grid-cols-2 gap-16 mt-10">
        <div>
          <p class="mt-28">
            The future is coming, and automation and AI will change or replace many jobs, but even more new jobs will be
            created.
          </p>
          <p class="mt-5">
            It's important to find which jobs are going to be replaced by automation and AI so you are prepared.
          </p>
          <p class="mt-5">
            Many of these new job titles will sound strange, but it's important that you know about them as if you want
            to stay in the job market, you will need the skills required to work on these future jobs.
          </p>
        </div>
        <img
          src="../assets/images/gorilla-omg.png"
          srcset="../assets/images/gorilla-omg.png 1x, ../assets/images/gorilla-omg@2x.png 2x"
          alt="Gorilla OMG"
        />
      </div>

      <h2 class="text-5xl mt-20 text-center">Reskilla Gorilla will guide you on the path!</h2>

      <div class="grid grid-cols-2 gap-16 mt-10">
        <img
          src="../assets/images/gorilla-yes.png"
          srcset="../assets/images/gorilla-yes.png 1x, ../assets/images/gorilla-yes@2x.png 2x"
          alt="Gorilla YES"
        />
        <div>
          <p class="mt-20">
            By using advanced pre-trained algorithms, we are capable to connect current jobs in the actual market with
            what are going to be the jobs of the future.
          </p>
          <p class="mt-5">
            By leveraging your existing skills, we help you find the jobs and provide you with the needed skills so you
            are well prepared and ready for the future.
          </p>
          <p class="mt-5">
            When you find out which job you want to pursue, we show you the missing skills and help you to learn them by
            providing you to a wide range of knowledge courses.
          </p>
        </div>
      </div>
    </div>

    <div id="app" class="max-w-screen-lg mx-auto"></div>

    <div class="max-w-screen-xl mx-auto mt-20">
      <img
        src="../assets/images/footer.png"
        srcset="../assets/images/footer.png 1x, ../assets/images/footer@2x.png 2x"
        alt="Reskilla Gorilla Footer"
        class="pt-16 mx-auto"
      />
    </div>
    <script type="module" src="../assets/index.js" async></script>
  </body>
</html>
