<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reskilla Gorilla! | Get prepared for 2030</title>
    <link rel="stylesheet" charset="utf-8" media="screen" type="text/css" href="../assets/styles.css" />
    <link
      rel="stylesheet"
      charset="utf-8"
      media="screen"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Fruktur:400"
    />
    <meta name="theme-color" content="#fff" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description" content="Reskilla Gorilla" />
  </head>

  <body class="index">
    <div id="app"></div>
    <script type="module" src="../assets/index.js" async></script>
  </body>
</html>
