<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reskilla Gorilla! | Get prepared for 2030</title>
    <link rel="stylesheet" charset="utf-8" media="screen" type="text/css" href="../assets/styles.css" />
    <link
      rel="stylesheet"
      charset="utf-8"
      media="screen"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Fruktur:400"
    />
    <meta name="theme-color" content="#fff" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description" content="Reskilla Gorilla" />
  </head>

  <body>
    <div class="max-w-screen-lg mx-auto">
      <img
        src="../assets/images/hero.jpg"
        srcset="../assets/images/hero.jpg 1x, ../assets/images/hero@2x.jpg 2x"
        alt="Reskilla Gorilla"
        class="pt-5 mx-auto"
      />

      <h1 class="text-5xl mt-20 text-center">By 2030 most jobs will be outdated!</h1>

      <div class="grid grid-cols-2 gap-16 mt-10">
        <div>
          <p class="mt-20">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis ornare lorem, ac sollicitudin orci
            laoreet quis.
          </p>
          <p class="mt-5">
            Pellentesque est nulla, varius in sodales in, feugiat a erat. Pellentesque imperdiet mollis nibh, id
            dignissim ante fermentum at.
          </p>
          <p class="mt-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis ornare lorem, ac sollicitudin orci
            laoreet quis. Pellentesque est nulla, varius in sodales in, feugiat a erat. Pellentesque imperdiet mollis
            nibh, id dignissim ante fermentum at.
          </p>
        </div>
        <img
          src="../assets/images/gorilla-omg.png"
          srcset="../assets/images/gorilla-omg.png 1x, ../assets/images/gorilla-omg@2x.png 2x"
          alt="Gorilla OMG"
        />
      </div>

      <h2 class="text-5xl mt-20 text-center">We have the solution!</h2>

      <div class="grid grid-cols-2 gap-16 mt-10">
        <img
          src="../assets/images/gorilla-yes.png"
          srcset="../assets/images/gorilla-yes.png 1x, ../assets/images/gorilla-yes@2x.png 2x"
          alt="Gorilla YES"
        />
        <div>
          <p class="mt-20">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis ornare lorem, ac sollicitudin orci
            laoreet quis.
          </p>
          <p class="mt-5">
            Pellentesque est nulla, varius in sodales in, feugiat a erat. Pellentesque imperdiet mollis nibh, id
            dignissim ante fermentum at.
          </p>
          <p class="mt-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis ornare lorem, ac sollicitudin orci
            laoreet quis. Pellentesque est nulla, varius in sodales in, feugiat a erat. Pellentesque imperdiet mollis
            nibh, id dignissim ante fermentum at.
          </p>
        </div>
      </div>
    </div>

    <div id="app" class="max-w-screen-lg mx-auto"></div>

    <div class="max-w-screen-xl mx-auto">
      <img
        src="../assets/images/footer.png"
        srcset="../assets/images/footer.png 1x, ../assets/images/footer@2x.png 2x"
        alt="Reskilla Gorilla Footer"
        class="pt-16 mx-auto"
      />
    </div>
    <script type="module" src="../assets/index.js" async></script>
  </body>
</html>
